<div translate ng-message="required">This field is required</div>
<div translate ng-message="minlength">This field is too short</div>
<div translate ng-message="maxlength">This field is too long</div>
<div translate ng-message="required">This field is required</div>
<div translate ng-message="email">This needs to be a valid email</div>
<div translate ng-message="cpf">CPF inválido</div>
<div translate ng-message="cnpj">CNPJ inválido</div>
<div translate ng-message="date">Data inválida</div>
<div translate ng-message="pattern">This needs to be a valid value</div>
